/cpp/bin
*/target/**
/assembly/bin

# Ignore the .vscode directories.
/.vscode
/rust/.vscode
/cpp/.vscode

# Ignore the intellij directories.
/rust/.idea
/cpp/.idea

# Ignore the uncompressed test data dir, but it include
# the compressed /testdata/algorithm-and-analysis.tar.gz
# file.
/testdata/algorithm-and-analysis

/.idea
*.swp
*.swo
*.iml
*.o
